.logbody {
  padding-top: 80px;
}

.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 50px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}




.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #5bc0de;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #5bc0de;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
.login-form-2 .signup2{

     color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-2 .member2{

     color: #33E0FF;
    font-weight: 600;
    text-decoration: none;
}

.login-form-1 .signup1{

     color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .member1{

    color: #33E0FF;
    font-weight: 600;
    text-decoration: none;
}

.bs-example{
    margin: 20px;
  }
